@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #181818;
  --secondary: #2651a8;
  /* --gray: #585858; */
  --gray: rgba(0, 0, 0, 0.6);
  --white: #fff;
  --lightGray: rgba(255, 255, 255, 0.6);
  --fontSize: 16px;
  --fontFamily: "Didact Gothic", sans-serif;
  --padding: 80px 0 112px 0;
  --transition: 0.3s ease;
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  line-height: 1.5;
  color: var(--primary);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.blueBtn {
  padding: 20px 35px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  background: var(--secondary);
  color: var(--white);
  border: none;
  border-radius: 9px;
  transition: var(--transition);
}

.blueBtn:hover {
  background: var(--white);
  color: var(--primary);
}

/********************************** 
            HEADAER 
**********************************/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./img/header.jpg);
  background-position: center;
  background-size: cover;
  padding: var(--padding);
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 45%;
}

header nav ul li {
  text-transform: uppercase;
}

header nav ul li a {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--white);
  padding: 15px 25px;
  transition: var(--transition);
}

header nav ul li a:hover {
  background: var(--secondary);
  border-radius: 9px;
}

.logo {
  font-size: 2rem;
  text-decoration: none;
  color: var(--white);
}

hgroup {
  margin-top: 200px;
}

hgroup h1 {
  font-size: 4rem;
  color: var(--white);
}

hgroup h4 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
}

hgroup .blueBtn {
  margin-top: 60px;
}

/********************************** 
              FIRST 
**********************************/

section {
  padding: var(--padding);
}

section h2 {
  text-align: center;
  font-size: 3rem;
}

section h4 {
  text-align: center;
  font-size: 1.4rem;
  color: var(--gray);
}

.artikli {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.artikli > div {
  width: 384px;
  color: var(--gray);
}

.artikli div:nth-child(1) {
  margin-right: 20px;
}

.artikli div:nth-child(2) {
  margin-right: 20px;
}

.artikli button {
  margin-top: 40px;
  border: 1px solid var(--secondary);
  border-radius: 6px;
  padding: 15px 35px;
  background: var(--secondary);
  color: var(--white);
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: var(--transition);
}

.artikli button:hover {
  background: var(--white);
  color: var(--primary);
}
